@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/ptsans.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/ptsansbold.woff2) format("woff2");
  font-display: swap;
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* тестовый просмотр границ блока */
.border {
  border: red dashed 2px;
  /* background-color: aquamarine; */
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: white;
  width: 1200px;
  margin: 0;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-header {
  margin-bottom: 45px;
}

.navigation {
  display: flex;
  height: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 310px;
  justify-content: space-between;
  margin-left: 71px;
  align-items: flex-end;
}

.navigation-link {
  display: block;
  font-size: 20px;
  text-decoration-line: none;
  color: black;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 26px;
}

.navigation-current {
  border-bottom: 2px solid #756257;
  width: fit-content;
}

.navigation-user-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 20px;
  padding: 0px;
  margin: 0px;
  margin-right: 71px;
  align-items: center;
}

.link-search {
  content: url("/img/header-search.svg");
  padding: 10px;
}

.link-favourites {
  content: url("/img/header-favourites.svg");
  padding: 10px;

}

.navigation-user-item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.round {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #7DB54F;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: start;
}

.iwant {
  padding: 0 10px;
  width: max-content;
  box-sizing: border-box;
  min-width: 160px;
  height: 37px;
  line-height: 37px;
  background: #756257;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.main-index,
.main-inner {
  margin-bottom: 40px;
}

/* верхняя картинка на главной */
.main-screen {
  background-color: white;
}

.welcome-bg {
  background: url("/img/welcome-bg.jpg");
  width: 1200px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.welcome {
  background-image: url("/img/welcome-welcome.svg");
  /* background-color: #F2F2F2; */
  background-repeat: no-repeat;
  background-position: center center;
  width: 458px;
  height: 352px;
  margin-bottom: 25px;

}

.welcome-divider {
  background: url("/img/welcome-divider.svg") bottom no-repeat;
  height: 57px;
  width: inherit;

}



.middle-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 63px;
}

.reasons-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  height: 80px;
  margin-bottom: 23px;
}

.reasons-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-bottom: 79px;
}

/* сетка с преимуществами */

.advantages-table {
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  box-sizing: border-box;
  width: 400px;
}

.box-number {
  padding-top: 98px;
}

.box-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.box-blue {
  background-color: #83B3D3;
  color: white
}

.box-halflight-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-table dl {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-table dt {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.box-text dt {
  margin-top: 184px;
  margin-bottom: 20px;
}

.advantages-table dd {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;

}

/* выставляем маржин всем кроме последнего в списке */
.advantages-table dd:not(:last-child) {
  margin-bottom: 25px;
}

.box-home {
  background: url("/img/icon-home.svg");
  width: 75px;
  height: 72px;
}

.box-eat {
  background: url("/img/icon-eat.svg");
  width: 74px;
  height: 70px;
}

.box-souvenirs {
  background: url("/img/icon-souvenir.svg");
  width: 64px;
  height: 76px;
}

/* поиск гостиниц */

.hostel-search {
  /* height: 417px; */
  padding-top: 91px;
}

.search-question {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  height: 50px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 58px;
}

.hostel-search-button {
  display: block;
  margin: 0 auto;
  background: #756257;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  line-height: 60px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 91px;
}

/* рассылка */
.mailing,
.mailing-inner {
  display: flex;
  flex-direction: column;
  /* height: 411px; */
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("/img/mailing-background.jpg");
  padding-top: 94px;
}

.mailing-inner {
  background-image: none;
  background-color: white;
  color: black;
}

.mailing-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  height: 50px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 26px;
  height: 72px;
}

.mailing-form {
  width: 800px;
  display: block;
  margin: 0 auto;
  margin-bottom: 94px;
}


form input {
  display: block;
  margin: auto;
}

.mailing-input {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  float: left;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border-width: 0px;
  padding: 0px;
  text-indent: 22px;
}

.mailing-button {
  width: 200px;
  height: 60px;
  background: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-width: 0px;
  border-radius: 0px 10px 10px 0px;
  padding: 0px;
}

/* футер */
.footer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 147px;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  align-items: center;
}


.social-icon {
  padding: 15px;
}

.facebook {
  content: url(/img/social-facebook.svg);
}

.twitter {
  content: url(/img/social-twitter.svg);
}

.youtube {
  content: url(/img/social-youtube.svg);
}

.footer-tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
}

.logo-academy {
  width: 115px;
  height: 34px;
  margin-right: 72px;
}



/* фильтр гостиниц */
.filter-section {
  background-color: #756257;
  color: #FFFFFF;
  background-image: url("/img/catalog-bg.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 408px;
  margin-bottom: 44px;
}

.filter-section-container {
  display: flex;
  flex-direction: column;
  width: 1057px;
  height: 100%;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 83px;
}

.inner-header-title {
  width: 528px;
  height: 68px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-home {
  background: url("/img/filtr-home.svg") no-repeat;
  width: 12px;
  height: 12px;
}

/* .breadcrumbs-nav {
  background: url("/img/fltr-nav.svg") no-repeat;
  width: 5px;
  height: 8px;
  padding-top: 2px;
} */

/* фильтр для поиска гостиниц */

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  padding: 0;
  border: 0;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-filter-list,
.control-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* отступ всем кроме последнего в списке */
.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
  flex: 0 0 150px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 167px;
  flex: 0 0 145px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 81px;
}

.filtr-title-price {
  margin-bottom: 34px;
}

.control-label {
  font-size: 18px;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  width: 50%;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.catalog-filter-label:nth-child(1) {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.catalog-filter-label:nth-child(2) {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-input {
  width: 70px;
  height: 23px;
  line-height: 23px;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0 0 0 19px;
  font-size: 18px;
}

.catalog-filter-input-text {
  line-height: 23px;
  height: 23px;
  width: 20px;
  text-align: right;
  opacity: 0.3;
  margin: 0 17px 0 0;
}

.catalog-filter-label-border {
  border-radius: 4px;
  width: 287px;
  height: 48px;
  display: flex;
  margin-bottom: 20px;
}

.catalog-button-container {
  display: block;
  padding-top: 60px;
}

.catalog-filter-button {
  background-color: #83B3D3;
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.catalog-filter-button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  width: 160px;
  height: 23px;
  padding: 0;
  border: 0;

}

/* результаты поиска в каталоге */

.catalog-search {
  width: 1057px;
  margin: 0 auto;
}

.catalog-sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0;
  margin-bottom: 42px;
}

.catalog-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: auto;
}



.sorting-select {
  line-height: 23px;
  color: #333333;
  font-size: 18px;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 81px;
  appearance: none;
  background: url("/img/dropdown.svg") no-repeat right;
  background-position-x: calc(100% - 21px);
  padding-left: 19px;
}

.button {
  border: 2px solid #E6E6E6;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  display: block;
  margin-left: 8px;
}

.mode-current {
  border-color: #000000;
}

.mode-tile {
  background: url(/img/sort-mode-tile.svg) no-repeat center center;
}

.mode-slideshow {
  background: url(/img/sort-mode-slideshow.svg) no-repeat center center;
}

.mode-list {
  background: url(/img/sort-mode-list.svg) no-repeat center center;
}



/* список отелей на гридах */

.hotel-card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 1fr 160px;
  grid-template-rows: 31px 23px 29px 37px;
  border-top: 1px solid #E6E6E6;
  padding: 31px 0;
}

.hotel-card-image {
  grid-row: 1/-1;
  display: inline;
}



.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  grid-column: 3/6;
}

.hotel-card-hometype,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-hometype {
  grid-column: 3;
  grid-row: 2;
}

.hotel-card-price {
  grid-column: 5;
  grid-row: 2;
}

.hotel-card-button {
  height: 37px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

.card-more {
  background: #756257;
  width: 151px;
  grid-column: 3;
  grid-row: 4;
}

.card-favourites {
  background: #83B3D3;
  width: 160px;
  grid-column: 5;
  grid-row: 4;
}

.favour-true {
  background: #7DB54F;

}

.hotel-card-stars-container {
  justify-self: center;
  align-self: center;
}

.star {
  background-image: url(/img/filtr-star.svg);
  width: 18px;
  height: 17px;
  display: inline-block;
  margin: 0;
}

.hotel-card-rating {
  width: 160px;
  height: 37px;
  line-height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #333333;
  display: block;
  margin: 0;
  grid-column: 6;
  grid-row: 4;
}


/* раздел "загрузить еще " */

.more-container {
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 0;
  margin-bottom: 31px;
}



.button-card-more {
  width: 625px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background: #83B3D3;
  border-radius: 4px;
  margin: auto;
  padding: 0;
  display: block;
}

/* паджинация */
.pagination-container {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination,
.navigation-user-list,
.navigation-list {
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  align-items: center;
  text-align: center;
  display: block;
  background: #83B3D3;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.pagination-current {
  background: #F2F2F2;
  color: black;
}

.hotels-summ {
  line-height: 23px;
  margin-left: auto;
  margin-right: 51px;
}

.hotels-summ-select {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 17px;
  appearance: none;
  background: url("/img/dropdown.svg") no-repeat right;
  background-position-x: calc(100% - 21px);
}
